extensions:
    resource: Contributte\DI\Extension\ResourceExtension
    api: Apitte\Core\DI\ApiExtension
    nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

resource:
	resources:
		App\ApiModule\:
			paths: [%appDir%/ApiModule]

api:
    debug: %debugMode%
    catchException: true

nextras.orm:
    model: App\Model\Model

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\facades\TestFacade

includes:
    - ../WebModule/config/common.neon
