extensions:
    resource: Contributte\DI\Extension\ResourceExtension
    api: Apitte\Core\DI\ApiExtension
    nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
    nextras.migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

resource:
	resources:
		App\ApiModule\:
			paths: [%appDir%/ApiModule]

api:
    debug: %debugMode%
    catchException: true

nextras.orm:
    model: App\Model\Model

nextras.migrations:
    dir: %appDir%/../migrations
    driver: mysql
    dbal: nextras

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\facades\TestFacade

includes:
    - ../WebModule/config/common.neon
